### 1.1. Unpacking a Sequence into Separate Variables

In [11]:
p = (4, 5)
x, y = p

5

In [12]:
x

4

In [13]:
y

5

### 1.2. Unpacking Elements from Iterables of Arbitrary Length

In [14]:
record = ("Dave", "dave@example.com", '773-555-1212', '847-555-1212')
name, email, *phone_number = record
phone_number

['773-555-1212', '847-555-1212']

In [18]:
def caluMiddleSum(grades):
    first, *middle, last = grades
    return sum(middle)
caluMiddleSum((1,2,3,4,5,6))

14

In [23]:
records = [('foo', 1, 2), ('bar', 'hello'), ('foo', 3, 4)]
def do_foo(x, y):
    print('foo', x, y)
def do_bar(s):
    print('bar', s)
for tag, *args in records:
    if tag == 'foo':
        do_foo(*args)
    if tag == 'bar':
        do_bar(*args)

foo 1 2
bar hello
foo 3 4

In [29]:
line = 'nobody:*:-2:-2:Unprivileged User:/var/empty:/usr/bin/false'
uname, *fields,homedir, sh = line.split(':')
fields
for s in fields:
    print(s)

*
-2
-2
Unprivileged User

### 1.3. Keeping the Last N Items

In [30]:
from collections import deque
q = deque(maxlen = 3)
q.append(0)
q.append(1)
q.append(2)
print(q)
q.append(3)
print(q)

deque([0, 1, 2], maxlen=3)
deque([1, 2, 3], maxlen=3)

In [31]:
q2 = deque()
q2.append(1)
q2.append(2)
q2.append(3)
print(q2)
q2.appendleft(4)
print(q2)
q2.pop()
print(q2)
q2.popleft()
print(q2)

deque([1, 2, 3])
deque([4, 1, 2, 3])
deque([4, 1, 2])
deque([1, 2])

### 1.4. Finding the Largest or Smallest N Items

In [34]:
import heapq
nums = [1, 8, 2, 23, 7, -4, 18, 23, 42, 37, 2]
print(heapq.nlargest(3, nums))
print(heapq.nsmallest(3, nums))

[42, 37, 23]
[-4, 1, 2]

In [37]:
portfolio = [
{'name': 'IBM', 'shares': 100, 'price': 91.1},
{'name': 'AAPL', 'shares': 50, 'price': 543.22},
{'name': 'FB', 'shares': 200, 'price': 21.09},
{'name': 'HPQ', 'shares': 35, 'price': 31.75},
{'name': 'YHOO', 'shares': 45, 'price': 16.35},
{'name': 'ACME', 'shares': 75, 'price': 115.65}
]
cheap = heapq.nsmallest(3, portfolio, key=lambda s: s['price'])
expensive = heapq.nlargest(3, portfolio, key=lambda s: s['price'])
print(cheap)
print(expensive)

[{'name': 'YHOO', 'shares': 45, 'price': 16.35}, {'name': 'FB', 'shares': 200, 'price': 21.09}, {'name': 'HPQ', 'shares': 35, 'price': 31.75}]
[{'name': 'AAPL', 'shares': 50, 'price': 543.22}, {'name': 'ACME', 'shares': 75, 'price': 115.65}, {'name': 'IBM', 'shares': 100, 'price': 91.1}]

### 1.5. Implementing a Priority Queue

In [40]:
import heapq
class PriorityQueue:
    def __init__(self):
        self._queue = []
        self._index = 0
    def push(self, item, priority):
        heapq.heappush(self._queue, (-priority, self._index, item))
        self._index += 1
    def pop(self):
        return heapq.heappop(self._queue)[-1]
class Item:
    def __init__(self, name):
        self.name = name
    def __repr__(self):
        return 'Item({!r})'.format(self.name)
q = PriorityQueue()
q.push(Item('foo') ,1)
q.push(Item('bar'), 5)
q.push(Item('spam'), 4)
q.push(Item('grok'), 1)
print(q)
q.pop()

<__main__.PriorityQueue object at 0x0000000005E9E940>

Item('bar')

### 1.6. Mapping Keys to Multiple Values in a Dictionary

In [44]:
from collections import defaultdict
d = defaultdict(list)
d['a'].append(1)
d['a'].append(2)
d['b'].append(3)
print(d)
d = defaultdict(set)
d['a'].add(1)
d['a'].add(2)
d['b'].add(3)
print(d)

defaultdict(<class 'list'>, {'b': [3], 'a': [1, 2]})
defaultdict(<class 'set'>, {'b': {3}, 'a': {1, 2}})

### 1.7. Keeping Dictionaries in Order

In [51]:
from collections import OrderedDict
d = OrderedDict()
d['foo'] = 5
d['bar'] = 2
d['spam'] = 3
d['grok'] = 4
print(d)

d2 = dict()
d2['foo'] = 5
d2['bar'] = 2
d2['spam'] = 3
d2['grok'] = 4
print(d2)

OrderedDict([('foo', 5), ('bar', 2), ('spam', 3), ('grok', 4)])
{'foo': 5, 'spam': 3, 'grok': 4, 'bar': 2}

### 1.8. Calculating with Dictionaries

In [58]:
prices = {
'ACME': 45.23,
'AAPL': 612.78,
'IBM': 205.55,
'HPQ': 37.20,
'FB': 10.75
}
min_price = min(zip(prices.values(), prices.keys()))
min_price
max_price = max(zip(prices.values(), prices.keys()))
prices_sorted = sorted(zip(prices.values(), prices.keys()))
print(prices_sorted)
prices_sorted2 = sorted(zip(prices.keys(), prices.values()))
print(prices_sorted2)
max(prices_sorted2)

[(10.75, 'FB'), (37.2, 'HPQ'), (45.23, 'ACME'), (205.55, 'IBM'), (612.78, 'AAPL')]
[('AAPL', 612.78), ('ACME', 45.23), ('FB', 10.75), ('HPQ', 37.2), ('IBM', 205.55)]

('IBM', 205.55)

### 1.9. Finding Commonalities in Two Dictionaries

In [64]:
a = {
'x' : 1,
'y' : 2,
'z' : 3
}
b = {
'w' : 10,
'x' : 11,
'y' : 2
}
print(a.keys()&b.keys())
print(a.keys()-b.keys())
print(a.items()&b.items())
c = {key:a[key] for key in a.keys() - {'z', 'w'}}
print(c)

{'x', 'y'}
{'z'}
{('y', 2)}
{'x': 1, 'y': 2}

### 1.10. Removing Duplicates from a Sequence while Maintaining Order

In [66]:
def dedupe(items):
    seen = set()
    for item in items:
        if item not in seen:
            yield item
            seen.add(item)
a = [1, 5, 2, 1, 9, 1, 5, 10]
list(dedupe(a))

[1, 5, 2, 9, 10]

In [69]:
def dedupe(items, key=None):
    seen = set()
    for item in items:
        val = item if key is None else key(item)
        if val not in seen:
            yield item
            seen.add(val)
a = [ {'x':1, 'y':2}, {'x':1, 'y':3}, {'x':1, 'y':2}, {'x':2, 'y':4}]
print(list(dedupe(a, key=lambda d: (d['x'],d['y']))))
print(list(dedupe(a, key=lambda d: d['x'])))

[{'x': 1, 'y': 2}, {'x': 1, 'y': 3}, {'x': 2, 'y': 4}]
[{'x': 1, 'y': 2}, {'x': 2, 'y': 4}]

### 1.11. Naming a Slice

In [86]:
record = '....................100 ................513.25 ..........'
print(record[20:23])
print(record[40:46])

100
513.25

In [87]:
SHARE = slice(20,23)
PRICE = slice(40, 46)
const = int(record[SHARE])*float(record[PRICE])
int(const)

51325

### use slice

In [88]:
record = '1234567890abcdefg'
SLICE = slice(0, 10, 3)
print(record[SLICE])
print(SLICE.stop)
record2 = '1231561891ab1de1g'
print(record2[slice(0, 20, 3)])

1470
10
111111

### 1.12. Determining the Most Frequently Occurring Items in a Sequence

In [95]:
words = [
'look', 'into', 'my', 'eyes', 'look', 'into', 'my', 'eyes',
'the', 'eyes', 'the', 'eyes', 'the', 'eyes', 'not', 'around', 'the',
'eyes', "don't", 'look', 'around', 'the', 'eyes', 'look', 'into',
'my', 'eyes', "you're", 'under'
]
from collections import Counter
word_counter = Counter(words)
print(word_counter)
print(word_counter.most_common(3))
print(word_counter['look'])
print(word_counter.keys())
morewords = ['why','are','you','not','looking','in','my','eyes']
word_counter.update(morewords)
print(word_counter)

Counter({'eyes': 8, 'the': 5, 'look': 4, 'my': 3, 'into': 3, 'around': 2, 'under': 1, "you're": 1, 'not': 1, "don't": 1})
[('eyes', 8), ('the', 5), ('look', 4)]
4
dict_keys(['my', 'into', 'around', 'eyes', 'under', 'the', "you're", 'not', "don't", 'look'])
Counter({'eyes': 9, 'the': 5, 'my': 4, 'look': 4, 'into': 3, 'not': 2, 'around': 2, 'you': 1, 'are': 1, 'looking': 1, "you're": 1, 'in': 1, 'under': 1, 'why': 1, "don't": 1})

### 1.13. Sorting a List of Dictionaries by a Common Key

In [101]:
rows = [
{'fname': 'Brian', 'lname': 'Jones', 'uid': 1003},
{'fname': 'David', 'lname': 'Beazley', 'uid': 1002},
{'fname': 'John', 'lname': 'Cleese', 'uid': 1001},
{'fname': 'Big', 'lname': 'Jones', 'uid': 1004}
]
from operator import itemgetter
print(sorted(rows, key = itemgetter('fname')))
print(sorted(rows, key = itemgetter('uid')))
print(sorted(rows, key = itemgetter('lname')))
print(sorted(rows, key = itemgetter('lname', 'fname')))

[{'fname': 'Big', 'uid': 1004, 'lname': 'Jones'}, {'fname': 'Brian', 'uid': 1003, 'lname': 'Jones'}, {'fname': 'David', 'uid': 1002, 'lname': 'Beazley'}, {'fname': 'John', 'uid': 1001, 'lname': 'Cleese'}]
[{'fname': 'John', 'uid': 1001, 'lname': 'Cleese'}, {'fname': 'David', 'uid': 1002, 'lname': 'Beazley'}, {'fname': 'Brian', 'uid': 1003, 'lname': 'Jones'}, {'fname': 'Big', 'uid': 1004, 'lname': 'Jones'}]
[{'fname': 'David', 'uid': 1002, 'lname': 'Beazley'}, {'fname': 'John', 'uid': 1001, 'lname': 'Cleese'}, {'fname': 'Brian', 'uid': 1003, 'lname': 'Jones'}, {'fname': 'Big', 'uid': 1004, 'lname': 'Jones'}]
[{'fname': 'David', 'uid': 1002, 'lname': 'Beazley'}, {'fname': 'John', 'uid': 1001, 'lname': 'Cleese'}, {'fname': 'Big', 'uid': 1004, 'lname': 'Jones'}, {'fname': 'Brian', 'uid': 1003, 'lname': 'Jones'}]

### 1.14. Sorting Objects Without Native Comparison Support

In [115]:
class User:
    def __init__(self, user_id):
        self.user_id = user_id
    def __repr__(self):
        return 'User({})'.format(self.user_id)
users = [User(23), User(2), User(3)]
print(sorted(users, key = lambda x:x.user_id))
from operator import attrgetter
print(sorted(users, key = attrgetter('user_id'), reverse=True))

[User(2), User(3), User(23)]
[User(23), User(3), User(2)]

### 1.15. Grouping Records Together Based on a Field

In [121]:
rows = [
{'address': '5412 N CLARK', 'date': '07/01/2012'},
{'address': '5148 N CLARK', 'date': '07/04/2012'},
{'address': '5800 E 58TH', 'date': '07/02/2012'},
{'address': '2122 N CLARK', 'date': '07/03/2012'},
{'address': '5645 N RAVENSWOOD', 'date': '07/02/2012'},
{'address': '1060 W ADDISON', 'date': '07/02/2012'},
{'address': '4801 N BROADWAY', 'date': '07/01/2012'},
{'address': '1039 W GRANVILLE', 'date': '07/04/2012'},
]
from operator import itemgetter
from itertools import groupby
rows.sort(key = itemgetter('date'))
for date, items in groupby(rows, key = itemgetter('date')):
    print(date)
    for i in items:
        print('   ', i)
print(groupby(rows, key = itemgetter('date')))
# use defaultdic
from collections import defaultdict
rows_by_date = defaultdict(list)
for row in rows:
    rows_by_date[row['date']].append(row)
for r in rows_by_date.keys():
    print(rows_by_date[r])

07/01/2012
    {'address': '5412 N CLARK', 'date': '07/01/2012'}
    {'address': '4801 N BROADWAY', 'date': '07/01/2012'}
07/02/2012
    {'address': '5800 E 58TH', 'date': '07/02/2012'}
    {'address': '5645 N RAVENSWOOD', 'date': '07/02/2012'}
    {'address': '1060 W ADDISON', 'date': '07/02/2012'}
07/03/2012
    {'address': '2122 N CLARK', 'date': '07/03/2012'}
07/04/2012
    {'address': '5148 N CLARK', 'date': '07/04/2012'}
    {'address': '1039 W GRANVILLE', 'date': '07/04/2012'}
<itertools.groupby object at 0x000000000533CEA8>
[{'address': '5800 E 58TH', 'date': '07/02/2012'}, {'address': '5645 N RAVENSWOOD', 'date': '07/02/2012'}, {'address': '1060 W ADDISON', 'date': '07/02/2012'}]
[{'address': '5412 N CLARK', 'date': '07/01/2012'}, {'address': '4801 N BROADWAY', 'date': '07/01/2012'}]
[{'address': '5148 N CLARK', 'date': '07/04/2012'}, {'address': '1039 W GRANVILLE', 'date': '07/04/2012'}]
[{'address': '2122 N CLARK', 'date': '07/03/2012'}]

### 1.16. Filtering Sequence Elements

In [132]:
mylist = [1, 4, -5, 10, -7, 2, 3, -1]
[n for n in mylist if n > 0]
[n for n in mylist if n < 0]
# list comprehension
pos = (n for n in mylist if n > 0)
for i in pos:
    print(i)
# use built-in filter function
values = [10,'1', '2', '-3', '-', '4', 'N/A', '5']
#[n for n in values if n > 0] met exception when it come to 'N/A'
def is_large_than_zero_int(value):
    try:
        i = int(value)
        if i > 0:
            return True
        else:
            return False
    except ValueError:
        return False
pos2 = list(filter(is_large_than_zero_int, values))
print(pos2)
import math
print([math.sqrt(n) for n in mylist if n>0])

1
4
10
2
3
[10, '1', '2', '4', '5']
[1.0, 2.0, 3.1622776601683795, 1.4142135623730951, 1.7320508075688772]

#### use itertool.compress

In [134]:
addresses = [
'5412 N CLARK',
'5148 N CLARK',
'5800 E 58TH',
'2122 N CLARK'
'5645 N RAVENSWOOD',
'1060 W ADDISON',
'4801 N BROADWAY',
'1039 W GRANVILLE',
]
counts = [ 0, 3, 10, 4, 1, 7, 6, 1]
more5 = [n > 5 for n in counts]
from itertools import compress
print(list(compress(addresses, more5)))

['5800 E 58TH', '4801 N BROADWAY', '1039 W GRANVILLE']

### 1.17. Extracting a Subset of a Dictionary

In [143]:
prices = {
'ACME': 45.23,
'AAPL': 612.78,
'IBM': 205.55,
'HPQ': 37.20,
'FB': 10.75
}
p1 = {key:value for key, value in prices.items() if value>200}
print(p1)
for i in p1.keys():
    print(i)
tech_names = { 'AAPL', 'IBM', 'HPQ', 'MSFT' }
tech_price = {key:value for key,value in prices.items() if key in tech_names}
print(tech_price)

{'AAPL': 612.78, 'IBM': 205.55}
AAPL
IBM
{'AAPL': 612.78, 'IBM': 205.55, 'HPQ': 37.2}

### 1.18. Mapping Names to Sequence Elements

In [146]:
from collections import namedtuple
Subscriber = namedtuple('Subscriber',['address', 'joined'])
sub = Subscriber('john','2015-09-25')
sub

Subscriber(address='john', joined='2015-09-25')

#### a example of use namedtuple

In [151]:
from collections import namedtuple
Stock = namedtuple('Stock', ['share','price','stockname'])
def cal_stock(record):
    total = 0.0
    for rec in record:
        s = Stock(*rec)
        total += s.share*s.price
        print(s)
    return total
stock_rec = {(1, 50, 'HP'), (2, 30, 'IBM')}
print(cal_stock(stock_rec))

Stock(share=1, price=50, stockname='HP')
Stock(share=2, price=30, stockname='IBM')
110.0

### 1.19. Transforming and Reducing Data at the Same Time

In [154]:
portfolio = [
{'name':'GOOG', 'shares': 50},
{'name':'YHOO', 'shares': 75},
{'name':'AOL', 'shares': 20},
{'name':'SCOX', 'shares': 65}
]
min_share = min(d['shares'] for d in portfolio )
print(min_share)

20

### 1.20. Combining Multiple Mappings into a Single Mapping

In [155]:
a = {'x': 1, 'z': 3 }
b = {'y': 2, 'z': 4 }
from collections import ChainMap
c = ChainMap(a, b)
print(c)

ChainMap({'x': 1, 'z': 3}, {'y': 2, 'z': 4})